# =================================
# Node
# =================================

node_modules/

dist/
build/


# =================================
# Python
# =================================

__pycache__/
*.pyc

.venv/

*.egg-info/


# =================================
# Environment
# =================================

.env
.env.*
!.env.example
!**/.env.example


# =================================
# IDE
# =================================

.vscode/

.idea/


# =================================
# OS
# =================================

.DS_Store
Thumbs.db